# .gitconfig
#
# ~/.gitconfig : Global Setting
# .git/config  : Git local setting

# Maybe override in local setting
#[user]
#    name = < NAME >
#    email = < MAIL >

[include]
    path = .gitconfig_local

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[alias]
    co = checkout
    br = branch
    cm = commit
    st = status
    dif = diff
    unstage = reset HEAD --
    last = log -1 HEAD
    k = log --all --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --graph --abbrev-commit
    klocal = log  --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --graph --abbrev-commit
    addname = add . -N
    cp = cherry-pick

[core]
    repositoryformatversion = 0
    bare = false
    filemode = true
    logallrefupdates = true
    ignorecase = true
    hideDotFiles = dotGitOnly
    autoCRLF = input
    quotepath = false
    precomposeunicode = true
    editor = vim

[diff]
    compactionHeuristic = true

[pager]
    log  = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}
    show = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}
    diff = (diff-highlight 2>/dev/null || cat) | ${PAGER:-less}

[interactive]
    diffFilter = (diff-highlight 2>/dev/null || cat)

# Override in local setting
#[remote "origin"]
#    url = https://github.com/fezrestia/< GIT REPO NAME >.git
#    fetch = +refs/heads/*:refs/remotes/origin/*

