# .gitconfig
#
# ~/.gitconfig : Global Setting
# .git/config  : Git local setting

# Maybe override in local setting
[user]
    name = < NAME >
    email = < MAIL >

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[alias]
    co = checkout
    br = branch
    cm = commit
    st = status
    dif = diff
    unstage = reset HEAD --
    last = log -1 HEAD
    k = log --all --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --graph --abbrev-commit
    klocal = log  --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --graph --abbrev-commit

[core]
    repositoryformatversion = 0
    bare = false
    filemode = true
    logallrefupdates = true
    ignorecase = true
    hideDotFiles = dotGitOnly
    autoCRLF = input
    quotepath = false

# Override in local setting
[remote "origin"]
    url = https://github.com/fezrestia/< GIT REPO NAME >.git
    fetch = +refs/heads/*:refs/remotes/origin/*

